<div class="modal hide fade" id="eliminar_curso" style="width: 40%; left: 30%; margin-left: 0px; display: none; "/>
    <fieldset >
        <div class="modal-header">
            <a class="close" data-dismiss="modal">x</a>
            <h3>Eliminar Curso</h3>
        </div>
        <div class="form-horizontal">
            <div class="modal-body">
                <div id="alert_eliminar_semestre_curso"></div>
                <div class="control-group">
                    <div style="color : red;">* Informaci&oacute;n Requerida</div>
                    <br/>
                    <div class="controls">
                        <label class="control-label" for="input01"><span style="color:red;">*</span> Ciclo </label>
                        <select name="ciclo" onchange="traerCiclosHorario('data_curso_eliminar','curso_val_eliminar','ciclo_val_eliminar')" id='ciclo_val_eliminar' class="span4">
                            <option id="0"> Seleccionar Ciclo</option>
                            <option id="I"> I  </option>
                            <option id="II"> II </option>
                            <option id="III"> III </option>
                            <option id="IV"> IV </option>
                            <option id="V"> V </option>
                            <option id="VI"> VI </option>
                            <option id="VII"> VII </option>
                            <option id="VIII"> VII </option>
                            <option id="IX"> IX</option>
                            <option id="X"> X </option>
                        </select>
                    </div>
                </div>
                <div class="control-group" id='data_curso_eliminar'>                   
                    <div class="controls">
                         <label class="control-label" for="input01"><span style="color:red;">*</span> Curso </label>
                        <select  name="curso_g" id='curso_val_eliminar' class="span4">
                            <option value="000"> Seleccionar Curso</option>
                        #{list listaSemestreCurso, as:'SemestreCurso'}
                            <option value="${SemestreCurso.scu_iId}"> ${SemestreCurso.curso.cur_vNombre}</option>
                        #{/list}
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" onclick="eliminarSemestreCurso()" >Eliminar</button>
            </div>
        </div>
    </fieldset>            
</div>