<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <link rel="stylesheet" type="text/css"  href="@{'/public/tools/bootstrap/css/bootstrap.min.css'}"/>
        <link rel="stylesheet" type="text/css" href="@{'/public/tools/css/css.css'}"/>
        #{get 'moreStyles' /}
        <script src="@{'/public/tools/js/jquery.js'}" type="text/javascript"></script>       
        <script src="@{'/public/tools/bootstrap/js/bootstrap.js'}" type="text/javascript" ></script>
        <script type="text/javascript">
                    cc=false;
        eli=false;
        //alertas 
         function alerta_div(id,  msg){
            $("#"+id).html("<div class='alert alert-error'> <button class='close' data-dismiss='alert'>×</button>  <strong>Error</strong><p>"+msg+"</p></div>");
            return;
        }
        function esconder(){
            $('#crearg').hide();
            $('#eliminarg').hide();
        }
        function crearG(){
            if(cc){
                $('#crearg').hide();
               cc=false;
            }else{
                $('#crearg').show();
                $('#eliminarg').hide();
                cc=true;
                eli=false;
            }

        }
        function eliminarG(){
             if(eli){
                $('#eliminarg').hide();
                eli=false;
            }else{
                $('#eliminarg').show();
                $('#crearg').hide();
                eli=true;
                cc=false;
            }
        }
        ////dibujar horarios
        function limpiarTabla(){
            $('#tabla_horario').html("");
        }
        function agregarHora(){
            for (var i = 8; i<=22 ; i++) {
                $('#tabla_horario').append("<tr id='h"+i+"'>"+
                    "<td>"+i+":00:00"+"</td>"+
                    "</tr>");
            };

        }
        function agregarHorariosDia(lista){
            
            r=0;
            for (var i = 8; i<=22 ; i++){
                idH="#h"+i;
                if(r < lista.length){
                    if(i==lista[r][1]){
                        $(idH).append("<td style=' border: 1px solid #999;  vertical-align:middle; text-align: center; background:"+lista[r][3]+"' rowspan='"+(lista[r][2]-lista[r][1])+"'>"+lista[r][0]+"</td>");    
                        i=i+(lista[r][2]-lista[r][1])-1;
                        r++;
                    }else{
                        $(idH).append("<td></td>");        
                    }
                }else{
                    $('#h'+i).append("<td></td>");
                }
                
            } 
        }
        //traer listas ajax
        function traerCiclos(id_data,idSelect,idCiclo){
            $("#numero_alumn").html("");
            $.ajax({
                type:'GET',
                url:'@{Application.crearGrupoCursos()}',
                data:{'ciclo':$('#'+idCiclo).val()},
                success: function(data) {
                    $('#'+id_data).html(data);
                }
            });
        }
         function traerCiclosHorario(id_data,idSelect,idCiclo){
            $.ajax({
                type:'GET',
                url:'@{Application.selectCurso()}',
                data:{'ciclo':$('#'+idCiclo).val(),'idSelect':idSelect},
                success: function(data) {
                    $('#'+id_data).html(data);
                }
            });
        }
        function traerNumeroAlumnos(id_semCur,id_data){
            $.ajax({
                type:'GET',
                url:'@{Application.consultarNumeroAlumnos()}',
                data:{'idSemCurso':$('#'+id_semCur).val()},
                success: function(data) {
                    $('#'+id_data).html(data);
                }
            });
        }
        function traerGrupos(id_data,idSelect){          
            $.ajax({
                type:'GET',
                url:'@{Application.selectGrupo()}',
                data:{'id_semestre_curso':$('#'+idSelect).val()},
                success: function(data) {
                    $('#'+id_data).html(data);
                }
            });
        }
        function crearGrupo(){
           // alert('gru_iMaxAlumnos:'+$('#gru_max_alum').val()+" "+'idSemestreCurso:'+$('#semestre_curso_grupo_crear').val());
           if($('#ciclo_val').val()!='0'){
                if($('#semestre_curso_grupo_crear').val()!='000'){
                    if($('#gru_max_alum').val()>20){
                        $.ajax({
                            type:'POST',
                            url:'@{Application.crearGrupo()}',
                            data:{'gru_iMaxAlumnos':$('#gru_max_alum').val(),'idSemestreCurso':$('#semestre_curso_grupo_crear').val()},
                            success: function(data) {
                                $('#crear_grupo').modal('hide');
                                //$('#mensaje').html(data);
                                $("#mensaje_nuevo").html("<p>grupo creado</p>");
                                $("#mensaje_nuevo").show();
                               //$('#aperturar_curso').modal('hide');
                            }
                        });
                    }else{
                        alerta_div('alert_crear_grupo',' el numero de alumnos debe ser mayor a 20');
                        
                    }
                }else{
                    alerta_div('alert_crear_grupo','seleccione un curso');
                }
            }else{
                alerta_div('alert_crear_grupo','seleccione un ciclo');
            } 
        }
        
        function crearHorario(idGTH,dia,hora){
            //alert('gru_iMaxAlumnos:'+$('#gru_max_alum').val()+" "+'idSemestreCurso:'+$('#curso_val').val());
            $.ajax({
                type:'POST',
                url:'@{Application.verificarCruce()}',
                data:{'idGrupoTipoDictado':idGTH,'dia':$('#'+dia).val(),'hora':$('#'+hora).val()},
                success: function(data) {
                   // $('#crear_horario').modal('hide');
                   if(data!=null){
                      // $('#mensaje_alerta_'+idGTH).html("HORARIO ACTUAL => Dia :"+$('#'+dia).val()+"  - Hora : "+$('#'+hora).val()+"");
                      // $('#mensaje_info_grupo_creado').html("<div class='alert alert-info'><button class='close' data-dismiss='alert'>×</button><strong> MENSAJE:</strong><p>Horario Asignado</p></div>");
                      $('#mensaje_alerta_'+idGTH).html(data);
               }/*else{
                       
                   }*/
                   
                }
            });
        }
        function traerInfoGrupo(){
            //alert('gru_iMaxAlumnos:'+$('#gru_max_alum').val()+" "+'idSemestreCurso:'+$('#curso_val').val());
            $.ajax({
                type:'GET',
                url:'@{Application.selectGrupoTipoDictado()}',
                data:{'id_grupo':$('#val_grupo').val()},
                success: function(data) {              
                   $('#info_grupo').html(data);
                }
            });
        }
        function traerInfoHorario(idGTD,id_info){
             $.ajax({
                type:'GET',
                url:'@{Application.infoHorarioTipoDictado()}',
                data:{'idGrupoTipoDictado':idGTD},
                success: function(data) {              
                   $('#'+id_info).html(data);
                }
            });
        }
        ////////////////vista mostrar horario
        function traerGrupoHorario(){
            $.ajax({
                type:'GET',
                url:'@{Application.selectGrupoHorario()}',
                data:{'ciclo':$('#vista_ciclo').val()},
                success: function(data) {              
                   $('#grupo_horario').html(data);
                }
            });
        }
        function traerInfoDibujo(){
            $.ajax({
                type:'GET',
                url:'@{Application.renderGrupoHorario()}',
                data:{'ciclo':$('#vista_ciclo').val(),'grupo':$('#vista_grupo').val()},
                success: function(data) {              
                   $('#horario_data_dibujo').html(data);
                   $('#historias').html(data);
                    console.log(data);
                }
            });    
        }
        //*** apertura de curso **/k
        function traerCursosNoAbiertos(id_carga,data_ciclo){
            
            $.ajax({
                type:'GET',
                url:'@{Application.traerCursoNoAperturado()}',
                data:{'ciclo':$('#'+data_ciclo).val()},
                success: function(data){              
                   $('#'+id_carga).html(data);
                }
            });    
        }
        function aperturarCurso(){

            if($('#ciclo_val_cna').val()!='0'){
                if($('#curso_val_cna').val()!='000'){
                    //if($('#num_alumnos').val()>20){
                
                    
                        $.ajax({
                            type:'GET',
                            url:'@{Application.aperturarCurso()}',
                            data:{'idCurso':$('#curso_val_cna').val(),'numAlum':$('#num_alumnos').val()},
                            success: function(data){              
                               //$('#'+id_carga).html(data);
                               
                               $('#aperturar_curso').modal('hide');
                               $("#mensaje_alert_content").show();
                               $("#mensaje_nuevo").html("<p>curso aperturado</p>");
                               
                            }
                        });
                    /*}else{
                        alerta_div('alert_aperturar_curso',' el numero de alumnos debe ser mayor a 20');
                        
                    }*/
                }else{
                    alerta_div('alert_aperturar_curso','seleccione un curso');
                }
            }else{
                alerta_div('alert_aperturar_curso','seleccione un ciclo');
            } 
        }
        //consultarCursos
        
        function ajaxConsultarCursos(vCiclo){
            //alert("llega");
            $.ajax({
                type:'GET',
                url:'@{Application.consultarCursos()}',
                data: {'vCiclo':$('#'+vCiclo).val()},
                success: function(data){              
                   $('#content_main').html(data);
                }
            });
        }
        function consultarCursos(cursos){
            $('#cursos_semestre_ajax').html("");
            var html_table="";
            for (var i = 0; i < cursos.length; i++) {
                var curso=cursos[i];
                html_table=html_table+"<table class='table  table-bordered' style =' border: 2px solid #999; margin:4px;'><tr style=' border: 2px solid #999;  vertical-align:middle; text-align: center; background:#ccc' ><td colspan='4' > "+curso[0]+" </td><td colspan='2'> "+curso[1]+"</td></tr><tr><td colspan='2'>Grupo</td><td>tipo</td><td>dia</td><td>hora inicio</td><td>hora fin</td></tr>";
                var grupos=curso[2];
                for (var z = 0; z < grupos.length; z++) {
                    var grupo=grupos[z];
                    html_table=html_table+"<tr><td style =' border: 2px' colspan='2' rowspan='"+(grupo.length-1)+"' >Grupo "+grupo[0]+"</td>";
                    var detalles=grupo[1];
                    html_table=html_table+"<td>"+detalles[0]+"</td><td>"+detalles[1]+"</td><td>"+detalles[2]+"</td><td>"+detalles[3]+"</td></tr>";
                    for (var h = 2; h < grupo.length; h++) {
                        detalles=grupo[h];
                        html_table=html_table+"<tr><td>"+detalles[0]+"</td><td>"+detalles[1]+"</td><td>"+detalles[2]+"</td><td>"+detalles[3]+"</td></tr>";
                    }

                }
            }
            html_table=html_table+"</table>";
            $('#cursos_semestre_ajax').append(html_table);
        }
        //----------------------------
        function eliminarSemestreCurso(){
            $.ajax({
                type:'GET',
                url:'@{Application.eliminarCurso()}',
                data:{'idCurso':$('#curso_val_eliminar').val()},
                success: function(data){              
                   //$('#'+id_carga).html(data);
                   $('#eliminar_curso').modal('hide');
                }
            }); 
        }
        
        //mostrar Plan de Estudios
        function traerPlan(){
            //alert("mostrar");

            $.ajax({
                type:'GET',
                url:'@{Application.mostrarPlanEstudios()}',
                data:{},
                success:function(data){
                    //alert("mostrar");
                    $('#content_main').html(data);
                }
            })
        }
        
        function tablaPlanEstudios(plan){
            $('#plan_estudios').html("");
            var html_table="<table class='table table-bordered table-condensed' style =' border: 2px solid #888;margin:2px;' >";
            for (var i = 0; i < plan.length;i++) {
                ciclo=plan[i];
                html_table=html_table+"</tr><tr style='background-color:#ccc;font-weight:bold'><td>CÓDIGO</td><td>NOMBRE DESCRIPTIVO</td><td>CRÉD</td></tr><tr style='background-color:#999;font-weight:bold'><td colspan=3 style='text-align:center;'>Ciclo-"+(i+1)+"</td></tr> "
                for(var j=0;j<ciclo.length;j++){
                    curso=ciclo[j];
                    html_table=html_table+"<tr><td > "+curso[0]+" </td><td > "+curso[1]+"</td><td > "+curso[2]+"</td></tr>";
                }
            }
            html_table=html_table+"</table>";
            $('#plan_estudios').append(html_table);
        }
        
        </script>
        #{get 'moreScripts' /}
        <script>
            $(function () {
                 $('#myTab a').click(function (e) {
                 // e.preventDefault();
                  $(this).tab('show');
                })
            })
        </script>
    </head>
    <body>
        <div class="container">
        #{bar/}
        #{doLayout /}
        </div>
    </body>
</html>
