
    <div id="ver_Cursos">
        <select id="ciclo_vista" onchange="ajaxConsultarCursos('ciclo_vista')">
            <option id="0"> Seleccionar Ciclo  </option>
            <option id="I"> I  </option>
            <option id="II"> II </option>
            <option id="III"> III </option>
            <option id="IV"> IV </option>
            <option id="V"> V </option>
            <option id="VI"> VI </option>
            <option id="VII"> VII </option>
            <option id="VIII"> VII </option>
            <option id="IX"> IX</option>
            <option id="X"> X </option>
         </select>
    </div>

    <div id="cursos_semestre_ajax">
	
    </div>
    <script type="text/javascript">
		consultarCursos(${lista});
    </script>   
