<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css"  href="@{'/public/tools/bootstrap/css/bootstrap.min.css'}"/>
    <link rel="stylesheet" type="text/css" href="@{'/public/tools/css/css.css'}"/>
    #{get 'moreStyles' /}
        <script src="@{'/public/tools/js/jquery.js'}" type="text/javascript"></script>
        <script src="@{'/public/tools/bootstrap/js/bootstrap.js'}" type="text/javascript" ></script>
    #{get 'moreScripts' /}
</head>
<body>
<div class="container">
    <div class="row">
        <div class="span8">
        </div>
        <div class="span4">
        #{form @login()}
            <div class="well">
                <input type="text" name="name" class="span3" placeholder="Name" style="height : 32px">
                </br>
                <input type="password" name="pass" class="span3" placeholder="Password" style="height : 32px">
                <label class="checkbox">
                    <input type="checkbox"> Remember me
                </label>
                <button type="submit" class="btn btn-primary">Sign in</button>
            </div>
        #{/form}
        </div>
    </div>
</div>
<script type="text/javascript">
    (function(){
        var box = $('div.container'),
                w = $(window).width() / 2 - box.outerWidth()/2;
        h= $(window).height() / 2 - box.outerHeight()/2;
        box.css({
            'top':h,
            'position':'absolute',
            'left':w
        });
    })();
</script>
</body>
</html>