<script type="text/javascript">
                limpiarTabla();
                //agrega columna horas
                agregarHora();
                //lunes
                agregarHorariosDia(${hl});
                //martes
                agregarHorariosDia(${hm});
                //miercoles
                agregarHorariosDia(${hmi});
                //jueves
                agregarHorariosDia(${hj});
                //viernes
                agregarHorariosDia(${hv});
                //sabado
                agregarHorariosDia(${hs});
</script>