					
                    <div class="controls">
                    	<label class="control-label" for="input01"> Curso </label>
                        <select onchange="traerGrupos('data_grupo','${idSS}');" name="curso" id='${idSS}' class="span4">
                        	<option value="000"> Seleccionar Curso</option>
                            #{list listaSemestreCurso, as:'SemestreCurso'}
                                <option value="${SemestreCurso.scu_iId}"> ${SemestreCurso.curso.cur_vNombre}</option>
                            #{/list}
                        </select>
                    </div>
                     