                    <div class="controls">
                         <label class="control-label" for="input01"><span style="color:red;">*</span> Cursos no abiertos:</label>
                        <select  name="curso_g" id='curso_val_cna' class="span4">
                            <option value="000"> Seleccionar Curso</option>
                            #{list listaCursosNoAperturados , as:'Curso'}
                                <option value="${Curso.cur_iId}"> ${Curso.cur_vNombre}</option>
                            #{/list}
                        </select>
                    </div>